@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,100;1,600&display=swap');

*
{
font-family: 'Fira Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

#navbar {
    /* background-color:rgba(,,, .1); */
    background-image:url(img/bgreept.jpg); 
    background-size: 33px  ;
    position: fixed;
    top: 10px;
    height: 35px;
    width: 100%;
    transition: top 1s;
    z-index: 5;
    padding:0 0px ;  

}



/* nav
{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    box-sizing: border-box;a
    transition: .5s;
} */

.logo
{
    float: left;
}

.logo img
{   
    border-radius: 12px;
    height: 50px; 
    margin-top: -7px;
    margin-left: 50px;
    transform: skewx(-10deg);
    transition:top .5s;
}

ul 
{
 display: flex;
 float: right; 
 margin:-22px;
 margin-right: 100px;
 }

 li
 { 
     list-style:none;
}

nav ul li a
{
    text-decoration: none;
    padding: 5px 10px;
    font-style: normal;
    text-decoration: none;
    line-height:80px ;
    transition: .5s ;

}
 
nav ul li a.active,
nav ul li a:hover
{
    color:white;
    background: #f00 ;
    border-radius: 7px;

} 
.sec0
{
 margin: 0;
 padding: 0;
 width: 100%;
 height: 120vh;
 background-image: url('img/bg.jpg');
 background-size: cover;
 z-index: 6;
}



.sec1 
{
   
    width: 100%;
    height: 100vh;
    display: flex;
    border: 2px Solid #000;
}

.sec1 .slide
{
    position: relative;
    background: #0f0;
    height:100%;
    flex: 1;
    border-right:2px solid #000;
    overflow: hidden;
    transition:0.5s ease-in-out;
}




.sec1 .slide:last-child
{
    border-right: none;
}


.sec1 .slide:hover
{
    flex-grow:5;
}

.animate__animated{
    position:absolute;
    margin-top: 200PX;
    margin-left: 400px;
    color:white ;
    animation-duration: 2s;
    animation-iteration-count: 1000;


}


.sec1 .slide:nth-child(1)
{
    background:url(img/1.jpg);
    background-position:center center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-color: #00693e;
}
.sec1 .slide:nth-child(2)
{
    background:url(img/2.jpg);
    background-position:center center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-color: #690f04;
}
.sec1 .slide:nth-child(3)
{
    background:url(img/3.jpg);
    background-position:center center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-color:#ed2124;
}
.sec1 .slide:nth-child(4)
{
    background:url(img/4.jpg);
    background-position:center center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-color: 	#066636;
}



.sec1 .slide .content 
{
    position: absolute;
    padding: 30px;
    bottom: 0px ;
    margin: 40px ;
    background-color: rgba(0, 0, 0, .60 ) ;
    color:#fff;
    visibility:hidden;
    opacity:0 ;
    transition: 0s;
    transform: translateY(100px);
}

.sec1 .slide:hover .content
{
    visibility : visible;
    opacity: 1;
    transition:0.5s;
    transition-delay: .5s;
    transform: translateY(0);
}

